#container {
    text-align: center;
    align-items: center;
}

.listElement {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

.pElement {
    font-size: 20px;
    color: #2f3640;
}

#list {
    text-align: center;
}

.body {
    background-color: #fbc531;
}

#search-heading {
    font-size: 60px;
}

#motto {
    font-size: 30px;
}

#button-wrap {
    text-align: center;
    display: flex;
    justify-content: center;
}

#button-home {
    position: relative;
    left: 23px;
    background-color: #4CAF50;
    border: none;
    color: #2f3640;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.clicked {
    background-color: #4CAF50;
    border: none;
    color: #2f3640;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.h1Element{
    font-size:20px;
}
