<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/public/app.js"></script>
    <link rel="stylesheet" href="public/assets/style.css" type="text/css" />
    <script src="jquery-3.3.1.min.js"></script>
    <title>Wiki Search</title>



</head>

<body>

    <br><br><br><br>
    <div id="container">
        <div id="intro">
            <h1>Wiki Search</h1>
            <h2>Search all the Wikis in the world in one click!</h2>
        </div>

        <div id="search-bar">
            <input id="query" name="query" type="text">
            <input id="clicked" type="submit" onclick="submit()">
        </div>
    </div>
    <script>
    
function submit() {
    const wikiQuery = document.getElementById('query').value;
    var api = "https://cors-anywhere.herokuapp.com/https://en.wikipedia.org/w/api.php?action=opensearch&search=" + wikiQuery + "&format=json&callback=?";

    fetch(api).then(response => response.json())
        .then(data => {
            console.log(data);
        });
}
   
    

       
    </script>
</body>

</html>
